//mixins
@mixin spacing ($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin displaycontent ($flexdisplay, $centerjust) {
  display: $flexdisplay;
  justify-content: $centerjust;
}

@mixin spdispcont ($margin, $padding, $flexdisplay, $centerjust) {
  margin: $margin;
  padding: $padding;
  display: $flexdisplay;
  justify-content: $centerjust;
}

