//color variables
$blue-color:#082B59;
$brown-color:#59331d;
$orange-color: #d98555;
$grey-color: #f2f2f2;
$white-color:  #ffffff;

//font variables
$main-font:'Lato', sans-serif;
$heading-font:'Poppins', sans-serif;
$heading-size: 3 rem;
$none: none;
$zero: 0;

//flexbox variables
$flexdisplay: flex;
$gridisplay: grid;
$blockdisplay: block;
$centerjust: center;
$radius: 10px;